
/**
 * @file
 * itweak_links CSS file.
 *
 * Colors:
 * #DDD    - hover menu item bg, menu borders
 * #FFF    - dropdown menu bg
 * #D6D6D6 #CCC    #A0A0A0 - cssbutton bg|hover|active
 * #FFFFFF #FFFFFF #F0F0F0 - cssbutton border top|hover|active
 * #707070 #707070 white   - cssbutton font|hover|active
 */

 /* All "!important" are for forward-override of theme CSS. We are not a theme and loaded before theme CSS */

div.links {
  margin-top: 4px;
}
li._itl_processed {
  display: none !important;
}

div.links, ul.links {
  text-align: right;
}

/************************************/
/* REGULAR LINK TWEAKS              */
/************************************/

/* Inherit most links styling, except menu-like hover */
ul.forum-links li a,
ul.links li a {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
ul.forum-links li a:hover,
ul.links li a:hover {
  background: #DDD !important;
}

/************************************/
/* LINKS MENU WITH DROPDOWNS        */
/************************************/

/* Add dropdown arrow icon */
ul.forum-links li.itweak-links-dropdown span.itweak-links-dropdown-title,
ul.links li.itweak-links-dropdown span.itweak-links-dropdown-title {
  background: transparent url('images/dropdown.png') no-repeat 100% 5px;
  line-height: 1.4em;
  padding: 1px 13px 3px 8px; /* add width of icon */
  text-decoration: none;
  border: 1px solid #DDD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 3;
}
ul.forum-links li.itweak-links-dropdown span.itweak-links-dropdown-title a,
ul.links li.itweak-links-dropdown span.itweak-links-dropdown-title a {
  text-decoration: none;
  padding-right: 2px !important; /* bring icon closer to text */
  background: none !important;
}

ul.forum-links li.itweak-links-dropdown,
ul.links li.itweak-links-dropdown {                        /* top item layout */
  position: relative;
  text-align: left;
}

ul.forum-links li.itweak-links-dropdown span.itweak-links-dropdown-title:hover,
ul.forum-links li.itweak-links-dropdown:hover span.itweak-links-dropdown-title,
ul.forum-links li.itweak-links-dropdown.hover span.itweak-links-dropdown-title,
ul.forum-links li.itweak-links-dropdown.active-trail span.itweak-links-dropdown-title,
ul.links li.itweak-links-dropdown span.itweak-links-dropdown-title:hover,
ul.links li.itweak-links-dropdown:hover span.itweak-links-dropdown-title,
ul.links li.itweak-links-dropdown.hover span.itweak-links-dropdown-title,
ul.links li.itweak-links-dropdown.active-trail span.itweak-links-dropdown-title {
  background: #FFF url('images/dropdown_h.png') no-repeat 100% 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

ul.forum-links li.itweak-links-dropdown ul,
ul.links li.itweak-links-dropdown ul {
  background: #FFF;
  border: 1px solid #DDD;
  display: block;
  width: auto;
  min-width: 120px; /* make drop-down menu wider than its button. Won't work if button is wider than that. */
  margin: 2px 0 0 -10px; /* 2px positions the menu so borders will overlap */
  padding: 4px 0 4px;
  position: absolute;
  z-index: 2;
  left: -999em; /* hide the menu */
  top: 100%;
}
  
ul.forum-links li.itweak-links-dropdown:hover ul,
ul.forum-links li.itweak-links-dropdown.hover ul,
ul.links li.itweak-links-dropdown:hover ul,
ul.links li.itweak-links-dropdown.hover ul {
  left: 0; /* show the menu */
}
  
ul.forum-links li.itweak-links-dropdown ul li,
ul.links li.itweak-links-dropdown ul li {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0 !important;
  white-space: nowrap; /* Force each item to be one line */
  UNUSEDborder-bottom: 1px solid #DDD;
}

ul.forum-links li.itweak-links-dropdown ul li.last,
ul.links li.itweak-links-dropdown ul li.last {
  border-bottom: none;
}

ul.forum-links li.itweak-links-dropdown ul li a,
ul.forum-links li.itweak-links-dropdown ul li a:link,
ul.forum-links li.itweak-links-dropdown ul li a:visited,
ul.links li.itweak-links-dropdown ul li a,
ul.links li.itweak-links-dropdown ul li a:link,
ul.links li.itweak-links-dropdown ul li a:visited {
  display: block;
  width: auto;
  margin: 0;
  padding: 2px 10px 2px 6px !important;
}

ul.forum-links li.itweak-links-dropdown ul li a:hover,
ul.links li.itweak-links-dropdown ul li a:hover {
  /* Inherit links styling, except menu-like hover */
  background: #DDD !important;
}





/************************************/
/* LINKS CSS3 BUTTONS               */
/************************************/

/* CSS3 Buttons from http://css-tricks.com/examples/ButtonMaker/# 
 * Colors        normal   hover    active
 * background:   #A0A0A0  #CCC     #CCC
 * gradient-top: #F7F7F7
 * border-top:   #FFFFFF  #28597a  #1b435e
 * text:         #404040  #ccc
 */
ul.forum-links li.itweak-links-cssbutton,
ul.links li.itweak-links-cssbutton {
  margin-right: 0 !important;
  padding: 0px 6px 0 0 !important;
}
.forum-topic-header a.itweak-links-cssbutton,
ul.forum-links li.itweak-links-cssbutton a,
ul.links li.itweak-links-cssbutton a {
  display: inline-block;
  border-top: 1px solid #FFFFFF;
  background: #D6D6D6 !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F7F7F7), color-stop(0.3, #D6D6D6), color-stop(1, #F7F7F7)) !important;
  background: -moz-linear-gradient(center bottom, #F7F7F7 0%, #D6D6D6 70%, #F7F7F7 100%) !important;
  padding: 0px 10px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0,0,0,0.5) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,0.5) 0 1px 0;
  box-shadow: rgba(0,0,0,0.5) 0 1px 0;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.8) !important;
  color: #707070 !important;
  font-weight: bold;
  text-decoration: none !important;
  line-height: 1.4em;
  height: auto;
}
.forum-topic-header a.itweak-links-cssbutton,
.forum-primary-links ul.forum-links li.itweak-links-cssbutton a,
.forum-secondary-links ul.forum-links li.itweak-links-cssbutton a {
  padding: 3px 10px !important;
  text-align: center;
}
.forum-topic-header a.itweak-links-cssbutton:hover,
ul.forum-links li.itweak-links-cssbutton a:hover,
ul.links li.itweak-links-cssbutton a:hover {
  text-decoration: none;
  border-top-color: #FFFFFF;
  background: #CCC !important;
  color: #707070 !important;
}
.forum-topic-header a.itweak-links-cssbutton:active,
ul.forum-links li.itweak-links-cssbutton a:active,
ul.links li.itweak-links-cssbutton a:active {
  text-decoration: none;
  border-top-color: #F0F0F0;
  background: #A0A0A0 !important;
  color: white !important;
}
.forum-topic-header a.itweak-links-cssbutton span,
.forum-topic-header a.itweak-links-cssbutton:hover span,
.forum-topic-header a.itweak-links-cssbutton:active span,
ul.forum-links li.itweak-links-cssbutton a span,
ul.forum-links li.itweak-links-cssbutton:hover a span,
ul.forum-links li.itweak-links-cssbutton:active a span,
ul.links li.itweak-links-cssbutton a span,
ul.links li.itweak-links-cssbutton:hover a span,
ul.links li.itweak-links-cssbutton:active a span {
  border-width: 0px;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  margin: 0 !important;
  padding: 0 !important;
}
.forum-topic-header a.itweak-links-cssbutton a span {
  background: none !important;
}

